@import url("https://fonts.googleapis.com/css2?family=Balthazar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  text-align: center;
  color: #eee;
  font-family: "Balthazar", serif;
  text-shadow: 0px 0px 4px rgb(173, 216, 230);
  margin-bottom: 0;
}

main.hobbies h3, main.hobbies h4, main.home h3 {
  font-weight: 400;
  text-align: center;
  color: #eee;
  font-family: "Balthazar", serif;
  text-shadow: 0px 0px 4px rgb(173, 216, 230);
  background: #333;
  width: 100%;
}

header h2.logo {
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 10px #455A6B;
  padding: 0 5px;
}

header h2.logo:hover {
  color: #455A6B;
  text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
  transition: all 0.2s;
}

header h2 span {
  color: #455A6B;
  text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
  padding: 0 9px;
}

header h2 span:hover {
  color: #fff;
  text-shadow: 2px 2px 10px #455A6B;
  transition: all 0.2s;
}

header {
  background-color: #50A8EB;
  font-family: "Balthazar", serif;
  font-weight: bold;
}

footer {
  background-color: #3E83B8;
  text-align: center;
}

footer ul {
  list-style-type: none;
  font-size: 30px;
  padding: 10px;
  margin: 0;
  text-shadow: 2px 2px 2px #455A6B;
}

nav ul li {
  list-style-type: none;
  font-size: 20px;
  text-shadow: 1px 1px 1px #455A6B;
  font-weight: lighter;
}

article.contacto .contacto__form .item {
  background: #1e252c;
  border: 2px solid #000;
  border-width: 8px;
  border-color: #50A8EB;
  border-radius: 10px;
  color: #3E83B8;
  font-family: "Balthazar", serif;
  font-size: 25px;
  transition: all 0.2s;
  padding: 0 7px;
}

article.contacto .contacto__form .item:focus {
  outline-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.03);
  transform: all 0.2s;
}

article.contacto .contacto__form .item:last-child {
  background: #3E83B8;
  color: #fff;
}

article.contacto .contacto__form .item:last-child:hover {
  background: #455A6B;
  color: #fff;
  transition: all 0.2s;
  border-color: #1e252c;
  transform: scale(1.03);
}

main.cv aside.cv p {
  max-width: 509px;
  padding: 6px;
  font-size: 20px;
  color: #98C8ED;
  font-family: "Balthazar", serif;
}

main.hobbies article.hobbies ul, main.hobbies article.hobbies p {
  text-align: center;
  font-size: 1.2em;
  color: #98C8ED;
  font-family: "Balthazar", serif;
}

main.home aside.home p {
  color: #98C8ED;
  font-family: "Balthazar", serif;
}

main.home article.home div {
  background-color: #1e252c;
  margin: 30px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgb(173, 216, 230);
  animation: borderAnimation 6s infinite;
  animation-timing-function: linear;
}

main.home .card {
  margin: 0 30px 60px 30px;
  border: 2px #fff solid;
  border-radius: 10px;
  box-shadow: 0px 0px 8px lightblue;
  color: #98C8ED;
  background: #455A6B;
}

main.home .card-img-top {
  border-radius: 10px;
  object-fit: contain;
  background: radial-gradient(circle at center, rgb(250, 250, 250) 0%, rgb(150, 150, 150) 90%);
}

main.home .container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 0 0;
  padding: 0;
}

article.servicios {
  color: #98C8ED;
  font-family: "Balthazar", serif;
}

article.servicios div.servicios__img img {
  object-fit: contain;
  border-radius: 10px;
  border: 3px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 10px rgb(173, 216, 230);
}

a {
  color: #fff;
  transition: color 0.2s;
}
a:hover {
  text-decoration: none;
  color: #455A6B;
  transition: color 0.2s;
}
a:focus {
  outline-color: rgba(255, 255, 255, 0.6);
}

.background {
  background: radial-gradient(circle at 0 0, #455A6B 0%, #222 90%);
}
@media screen and (max-width: 729px) {
  .background {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  .background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 90vh;
  }
  .background h1 {
    height: 60px;
  }
}
@media screen and (min-width: 992px) {
  .background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 90vh;
  }
  .background h1 {
    height: 60px;
  }
}

body {
  background: #3E83B8;
}

@keyframes borderAnimation {
  0% {
    box-shadow: 0px 0px 7px rgb(173, 216, 230);
    background-color: #fff;
  }
  25% {
    box-shadow: 0px 0px 7px #3E83B8;
    background-color: #3E83B8;
  }
  50% {
    box-shadow: 0px 0px 7px rgb(173, 216, 230);
    background-color: #fff;
  }
  75% {
    box-shadow: 0px 0px 7px #3E83B8;
    background-color: #3E83B8;
  }
  100% {
    box-shadow: 0px 0px 7px rgb(173, 216, 230);
    background-color: #fff;
  }
}
footer ul {
  display: inline-block;
}
footer ul li {
  display: inline-block;
  padding: 0 25px;
}

h1 {
  padding: 10px 0;
  background: #333;
}
@media screen and (max-width: 729px) {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2em;
  }
}

header {
  width: 100%;
}
@media screen and (max-width: 729px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header h2.logo {
    display: flex;
    font-size: 40px;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header h2.logo {
    display: flex;
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header h2.logo {
    display: flex;
    font-size: 40px;
  }
}

@media screen and (max-width: 729px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  nav ul li {
    padding: 5px 15px;
    display: flex;
  }
  nav .navbar-brand {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  nav ul li {
    padding: 5px;
    display: flex;
  }
  nav #navbarNav {
    justify-content: flex-end;
    margin-right: 2em;
  }
  nav .navbar-brand {
    padding-left: 2em;
  }
}
@media screen and (min-width: 992px) {
  nav {
    display: flex;
    width: 100vw;
  }
  nav .navbar-brand {
    display: flex;
    padding-left: 2em;
  }
  nav ul li {
    padding: 5px;
    display: flex;
  }
  nav #navbarNav {
    justify-content: flex-end;
    margin-right: 2em;
  }
}

.navbar {
  padding: 0;
}

main.home {
  background: radial-gradient(circle at 0 0, #455A6B 0%, #222 90%);
}
@media screen and (max-width: 729px) {
  main.home {
    display: flex;
    flex-direction: column;
  }
  main.home article.home {
    display: flex;
    justify-content: center;
  }
  main.home article.home div {
    display: flex;
    height: 250px;
  }
  main.home article.home div img {
    border-radius: 50%;
  }
  main.home aside.home {
    display: flex;
    justify-content: center;
  }
  main.home aside.home p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    font-size: 1.2em;
  }
  main.home h3 {
    font-size: 2em;
    padding: 5px 10px;
  }
  main.home .container {
    display: flex;
    max-width: 729px;
  }
  main.home .card {
    width: 243px;
    height: 470px;
  }
  main.home .card-body {
    height: 300px;
    overflow: auto;
  }
  main.home .card-img-top {
    max-width: 239px;
    max-height: 160px;
  }
  main.home .card-title {
    text-align: center;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  main.home article.home {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  main.home article.home div {
    display: flex;
    height: 300px;
  }
  main.home article.home div img {
    border-radius: 50%;
  }
  main.home aside.home {
    display: flex;
    justify-content: center;
  }
  main.home aside.home p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60vw;
    font-size: 1.3em;
  }
  main.home h3 {
    text-align: center;
    font-size: 2em;
    line-height: 1.8;
  }
  main.home .container {
    display: flex;
    max-width: 991px;
  }
  main.home .card {
    width: 288px;
    height: 470px;
  }
  main.home .card-body {
    height: 300px;
    overflow: auto;
  }
  main.home .card-img-top {
    width: 284px;
    height: 190px;
  }
  main.home .card-title {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  main.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 500px 60px 1fr;
    min-height: 90vh;
  }
  main.home h1 {
    grid-column: 1/13;
    grid-row: 1/2;
  }
  main.home article.home {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/7;
    grid-row: 2/3;
  }
  main.home article.home div {
    display: flex;
    align-content: center;
    height: 400px;
  }
  main.home article.home div img {
    border-radius: 50%;
  }
  main.home aside.home {
    display: flex;
    grid-column: 7/13;
    grid-row: 2/3;
  }
  main.home aside.home p {
    display: flex;
    align-items: center;
    margin: 30px;
    font-size: 1.5em;
  }
  main.home h3 {
    text-align: center;
    grid-column: 1/13;
    grid-row: 3/4;
    font-size: 2em;
    line-height: 1.8;
  }
  main.home .container {
    display: flex;
    grid-column: 1/13;
    grid-row: 4/5;
    max-width: none;
  }
  main.home .card {
    min-width: 300px;
    width: 300px;
    height: 450px;
  }
  main.home .card-body {
    height: 300px;
    overflow: auto;
  }
  main.home .card-img-top {
    width: 296px;
    height: 200px;
  }
  main.home .card-title {
    text-align: center;
  }
}

@media screen and (max-width: 729px) {
  main.cv article.cv {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  main.cv article.cv img {
    object-fit: contain;
    min-width: 270px;
  }
  main.cv aside.cv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  main.cv aside.cv p {
    display: flex;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  main.cv article.cv {
    display: flex;
    justify-content: center;
    grid-column: 1/13;
    grid-row: 2/7;
    padding-top: 20px;
  }
  main.cv article.cv img {
    object-fit: contain;
    max-width: 500px;
  }
  main.cv aside.cv {
    display: flex;
    grid-column: 1/13;
    grid-row: 7/11;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }
  main.cv aside.cv p {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  main.cv {
    align-items: start;
  }
  main.cv article.cv {
    display: flex;
    grid-column: 1/7;
    grid-row: 2/9;
    justify-content: center;
    padding: 20px 20px;
  }
  main.cv article.cv img {
    object-fit: contain;
    max-width: 500px;
    min-width: 450px;
  }
  main.cv aside.cv {
    display: flex;
    flex-direction: column;
    grid-row: 2/9;
    grid-column: 7/13;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  main.cv aside.cv p {
    display: flex;
  }
}

@media screen and (max-width: 729px) {
  article.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  article.contacto .contacto__form {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  article.contacto .contacto__form .item {
    width: 240px;
    margin: 20px 0;
    font-size: 20px;
    border-width: 6px;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  article.contacto {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  article.contacto .contacto__form {
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: repeat(3, 50px) 60px;
    padding: 50px;
    grid-gap: 100px;
    align-content: center;
    justify-content: center;
  }
  article.contacto .contacto__form .item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
  article.contacto .contacto__form .item:last-child {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media screen and (min-width: 992px) {
  article.contacto {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  article.contacto .contacto__form {
    display: grid;
    grid-template-columns: 300px 360px;
    grid-template-rows: repeat(3, 60px) 80px;
    padding: 50px;
    grid-gap: 100px;
    align-content: center;
    justify-content: center;
  }
  article.contacto .contacto__form .item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
  article.contacto .contacto__form .item:last-child {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 20px;
  }
}

main.hobbies {
  background: radial-gradient(circle at 0 0, #455A6B 0%, #222 90%);
}
main.hobbies ul {
  list-style-type: none;
}
@media screen and (max-width: 729px) {
  main.hobbies article.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  main.hobbies article.hobbies iframe {
    display: flex;
    width: 95%;
    margin: 10px 5%;
  }
  main.hobbies article.hobbies p {
    display: flex;
    padding: 10px 5%;
  }
  main.hobbies h3, main.hobbies h4 {
    font-size: 2em;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  main.hobbies {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  main.hobbies article.hobbies {
    display: flex;
    flex-direction: column;
    grid-column: 1/13;
    grid-row: 2/3;
    align-items: center;
    justify-content: space-evenly;
  }
  main.hobbies article.hobbies iframe {
    display: flex;
    width: 95%;
    margin: 10px 5%;
  }
  main.hobbies article.hobbies p {
    display: flex;
    padding: 10px 10%;
  }
  main.hobbies article.hobbies h3, main.hobbies article.hobbies h4 {
    line-height: 1.8;
  }
}
@media screen and (min-width: 992px) {
  main.hobbies {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  main.hobbies article.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  main.hobbies article.hobbies iframe {
    display: flex;
    width: 95%;
    margin: 10px 5%;
  }
  main.hobbies article.hobbies p {
    display: flex;
    padding: 10px 15%;
  }
  main.hobbies article.hobbies h3, main.hobbies article.hobbies h4 {
    line-height: 1.8;
  }
}

main.servicios {
  background: radial-gradient(circle at 0 0, #455A6B 0%, #222 90%);
}

article.servicios {
  justify-content: center;
}
article.servicios div.servicios__card {
  display: flex;
  text-align: center;
}
@media screen and (max-width: 729px) {
  article.servicios {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
  }
  article.servicios div.servicios__img img {
    display: flex;
    width: 243px;
    margin: 20px 0;
  }
  article.servicios div.servicios__card {
    flex-direction: column;
    width: 243px;
    margin: 0 20px;
    height: 350px;
    justify-content: space-between;
  }
  article.servicios div.servicios__card h2 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 730px) and (max-width: 991px) {
  article.servicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3em;
    min-height: 85.8vh;
  }
  article.servicios div.servicios__img img {
    display: flex;
    width: 300px;
    margin: 20px 0;
  }
  article.servicios div.servicios__card {
    flex-direction: column;
    width: 300px;
    margin: 0 20px;
    height: 400px;
    justify-content: space-between;
  }
  article.servicios div.servicios__card h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 992px) {
  article.servicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.4em;
    min-height: 85.8vh;
  }
  article.servicios div.servicios__img img {
    display: flex;
    width: 350px;
    margin: 20px 0;
  }
  article.servicios div.servicios__card {
    flex-direction: column;
    width: 350px;
    margin: 0 20px;
    height: 450px;
    justify-content: space-between;
  }
  article.servicios div.servicios__card h2 {
    font-size: 1.6em;
  }
}

/*# sourceMappingURL=styles.css.map */
