a {
    color: #fff;
    transition: color 0.2s;

    &:hover {
        text-decoration: none;
        color: #455A6B;
        transition: color 0.2s;
    }
    &:focus {
        outline-color: rgba(255, 255, 255, 0.6);
    }
}