.background {
    @include mobile {
        display: flex;
        flex-direction: column;
        background-color: #455A6B;
        font-family: "Balthazar", serif;
        color: #98C8ED;
        font-size: 20px;
        flex-basis: 100vw;
    }
}
.background {
    @include tablet {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 0.3fr repeat(8, 1fr) 0.2fr;
        background-color: #455A6B;
        font-family: "Balthazar", serif;
        color: #98C8ED;
        font-size: 20px;
        flex-basis: 100vw;
    }
}
.background {
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 0.3fr repeat(6, 1fr) 0.2fr;
        background-color: #455A6B;
        font-family: "Balthazar", serif;
        color: #98C8ED;
        font-size: 20px;
        min-height: 100vh;
    }
}