.background {
    background: $background-gradient-fondo;
    @include mobile {
        display: flex;
        flex-direction: column;
        min-height: 90vh;
    }
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 90vh;

        h1 {
            height: 60px;
        }
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 90vh;

        h1 {
            height: 60px;
        }
    }
}