main.cv {
    aside.cv {
        p {
            @extend %cv-aside-p;
        }
    }
    @include mobile {
        article.cv {
            display: flex;
            justify-content: center;
            padding: 20px;
        
            img {
                object-fit: contain;
                min-width: 300px;
            }
        }    
        aside.cv {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
        
            p {
                display: flex;
            }    
        }   
    }
    @include tablet {
        article.cv {
            display: flex;
            justify-content: center;
            grid-column: 1 / 13;
            grid-row: 2 / 7;
            padding-top: 20px;
        
            img {
                object-fit: contain;
                max-width: 500px;
            }
        }    
        aside.cv {
            display: flex;
            grid-column: 1 / 13;
            grid-row: 7 / 11;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0;
        
            p {
                display: flex;
            }    
        }
    }
    @include desktop {
        article.cv {
            display: flex;
            grid-column: 1 / 7;
            grid-row: 2 / 9;
            justify-content: center;
            padding: 20px 20px;
            img {
                object-fit: contain;
                max-width: 500px;
                min-width: 450px;
            }
        }
        aside.cv {
            display: flex;
            flex-direction: column;
            grid-row: 2 / 9;
            grid-column: 7 / 13;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            
            p {
                display: flex;
            }
        }    
    }
}