%h1 {
    font-weight: 400;
    text-align: center;
    color: $h1-letra-color;
    font-family: $font-letra;
    text-shadow: $h1-text-shadow;
}
%h3-h4 {
    font-weight: 400;
    text-align: center;
    color: $h1-letra-color;
    font-family: $font-letra;
    text-shadow: $h1-text-shadow;
    padding: 10px 0;
    background: #333;
    width: 100%;
    font-size: 2.5em;
}
%h2-logo {
    justify-content: center;
    color: $logo-color-letra;
    text-shadow: $logo-text-shadow;
    padding: 0 5px;
}
%h2-logo-hover {
    color: $logo-hover-color;
    text-shadow: $logo-hover-text-shadow;
    transition: all 0.2s;
}
%h2-span {
    color: $logo-hover-color;
    text-shadow: $logo-hover-text-shadow;
    padding: 0 9px;
}
%h2-span-hover {
    color: $logo-color-letra;
    text-shadow: $logo-text-shadow;
    transition: all 0.2s;
}
%header {
    background-color: $header-color-fondo;
    font-family: $font-letra;
    font-weight: bold;
}
%footer {
    background-color: $footer-color-fondo;
    text-align: center;
}
%footer-ul {
    list-style-type: none;
    font-size: $footer-font-size;
    padding: 10px;
    margin: 0;
    text-shadow: $footer-text-shadow;
}
%nav-ul-li {    
    list-style-type: none;
    font-size: 20px;
    text-shadow: $nav-ul-li-text-shadow;
    font-weight: lighter;
}
%form-item {
    background: $form-background;
    border: 2px solid #000;
    border-width: 8px;
    border-color: $navbar-color-fondo;
    border-radius: 10px;
    color: $footer-color-fondo;
    font-family: $font-letra;
    font-size: 25px;
    transition: all .2s;
    padding: 0 7px;
}
%form-item-focus {
    outline-color: #fff9;
    transform: scale(1.03);
    transform: all .2s;
}
%form-last-item {
    background: $footer-color-fondo;
    color: $logo-color-letra;
}
%form-last-item-hover {
    background: $background-color-fondo;
    color: $logo-color-letra;
    transition: all .2s;
    border-color: $form-background;
    transform: scale(1.03);
}
%cv-aside-p {
    max-width: 509px;
    padding: 6px;
    font-size: 20px;
    color: $background-color-letra;
    font-family: $font-letra;
}
%hobbies-p {
    text-align: center;
    font-size: 1.2em;
    color: $background-color-letra;
    font-family: $font-letra;
}
%aside-home-p {
    color: $background-color-letra;
    font-family: $font-letra;
}
%article-home-div {
    background-color: $form-background;
    margin: 30px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: $home-img-box-shadow;
    animation: borderAnimation 6s infinite;
    animation-timing-function: linear;
}
%card-home {
    margin: 0 30px 60px 30px;
    border: 2px #fff solid;
    border-radius: 10px;
    box-shadow: 0px 0px 8px lightblue;
    color: $background-color-letra;
    background: $background-color-fondo;
}
%card-home-img-top {
    border-radius: 10px;
    object-fit: contain;
    background: $card-image-background;
}
%container-home {
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;
}
%article-servicios {
    font-size: 20px;
    color: $background-color-letra;
    font-family: $font-letra;
}
%article-servicios-img {
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid rgb(200, 200, 200, 5);
    box-shadow: $servicios-img-box-shadow;
}