footer {
    @include mobile {
        background-color: #3E83B8;
        text-align: center;
        
        ul {
            display: inline-block;
            list-style-type: none;
            font-size: 15px;
            padding: 10px;
        
            li {
                display: inline-block;
                padding: 10px 25px;
            }
            a {
                color: white;
                font-size: 30px;
                text-shadow: 2px 2px 2px #455A6B;
                transition: all 0.2s;
                transition: outline 0s;
            }
        }    
    }
}
footer {
    @include tablet {
        background-color: #3E83B8;
        text-align: center;
        grid-column: 1/13;
        grid-row: 10/11;
        
        ul {
            display: inline-block;
            list-style-type: none;
            font-size: 15px;
            padding: 10px;
        
            li {
                display: inline-block;
                padding: 10px 40px;
            }
            a {
                color: white;
                font-size: 30px;
                text-shadow: 2px 2px 2px #455A6B;
                transition: all 0.2s;
                transition: outline 0s;
            }
        }    
    }
}
footer {
    @include desktop {
        background-color: #3E83B8;
        text-align: center;
        grid-column: 1/13;
        grid-row: 8/9;
        
        ul {
            display: inline-block;
            list-style-type: none;
            font-size: 15px;
            padding: 10px;
        
            li {
                display: inline-block;
                padding: 10px 70px;
            }
            a {
                color: white;
                font-size: 30px;
                text-shadow: 2px 2px 2px #455A6B;
                transition: all 0.2s;
                transition: outline 0s;
            }
        }    
    }
}