h1 {
    @extend %h1;
    @include mobile {
        display: flex;
        justify-content: center;
        font-size: 2em;
    }
    @include tablet {
        display: flex;
        grid-column: 1/13;
        grid-row: 1/2;
        justify-content: center;
        font-size: 2.5em;
    }
    @include desktop {
        display: flex;
        grid-column: 1/13;
        grid-row: 1/2;
        justify-content: center;
        font-size: 3em;
    }
}