h1 {
    @extend %h1;
    padding: 10px 0;
    background: #333;
    @include mobile {
        display: flex;
        justify-content: center;
        font-size: 2em;
        padding: 5px 10px;
    }
    @include tablet {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2em;
    }
    @include desktop {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2em;
    }
}