header {
    width: 100%;
    h2.logo {
        @extend %h2-logo;

        &:hover {
            @extend %h2-logo-hover;
        }
        
    }
    h2 span {
        @extend %h2-span;

        &:hover {
            @extend %h2-span-hover;
        }
    }
    @extend %header;
    @include mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        h2.logo {
            display: flex;
            font-size: 45px;
        }        
    }
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        h2.logo {
            display: flex;
            font-size: 60px;
        }
    }
    @include desktop {
        display: flex;
        justify-content: space-between;
        
        h2.logo {
            display: flex;
            font-size: 60px;
        }
    }
}