header {
    @include mobile{
        display: flex;
        flex-direction: column;
        background-color: #50A8EB;
        justify-content: space-around;
        flex-basis: 100vw;
        font-weight: bold;
    
        h2.logo {
            display: flex;
            justify-content: center;
            padding: 5px;
            font-size: 40px;
            color: #fff;
            text-shadow: 2px 2px 10px #455A6B;
        }
        h2 span {
            color: #3E83B8;
            text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
            padding: 0 10px;
        }
        h2.logo:hover {
            color: #3E83B8;
            text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
            transition: all 0.2s;
        }
        h2 span:hover {
            color: #fff;
            text-shadow: 2px 2px 10px #455A6B;
            transition: all 0.2s;
        }
    }
}
header {
    @include tablet {
        display: flex;
        flex-direction: column;
        background-color: #50A8EB;
        justify-content: space-around;
        flex-basis: 100vw;
        font-weight: bold;
        
        h2.logo {
            display: flex;
            justify-content: center;
            padding: 5px;
            font-size: 50px;
            color: #fff;
            text-shadow: 2px 2px 10px #455A6B;
        }
        h2 span {
            color: #3E83B8;
            text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
            padding: 0 10px;
        }
        h2.logo:hover {
            color: #3E83B8;
            text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
            transition: all 0.2s;
        }
        h2 span:hover {
            color: #fff;
            text-shadow: 2px 2px 10px #455A6B;
            transition: all 0.2s;
        }
    }
}
header {
    @include desktop {
        display: flex;
        background-color: #50A8EB;
        justify-content: space-between;
        font-weight: bold;
        
        h2.logo {
            display: flex;
            justify-content: center;
            padding: 5px;
            font-size: 50px;
            color: #fff;
            text-shadow: 2px 2px 10px #455A6B;
        }
        h2 span {
            color: #3E83B8;
            text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
            padding: 0 10px;
        }
        h2.logo:hover {
            color: #3E83B8;
            text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
            transition: all 0.2s;
        }
        h2 span:hover {
            color: #fff;
            text-shadow: 2px 2px 10px #455A6B;
            transition: all 0.2s;
        }
    }
}