main.home {   
    background: $background-gradient-fondo;
    aside.home p {
        @extend %aside-home-p;
    }
    article.home div {
        @extend %article-home-div;
    }
    h3 {
        @extend %h3-h4;
    }
    .card {
        @extend %card-home;
    }
    .card-img-top {
        @extend %card-home-img-top;
    }
    .container {
        @extend %container-home;
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        flex-basis: 100vw; 

        article.home {
            display: flex;
            justify-content: center;
            
            div {
                display: flex;
                height: 250px;
            
                img {
                    border-radius: 50%;
                }
            }
        }
        aside.home {
            display: flex;
            justify-content: center;
        
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 80vw;
                font-size: 1.2em;
            }
        }
        .container {
            display: flex;
            max-width: 729px;
            padding: 0;
        }
        .card {
            width: 243px;
            height: 470px;
        }
        .card-body {
            height: 300px;
            overflow: auto;
        }
        
        .card-img-top {
            width: 239px;
            height: 160px;
        }
        .card-title {
            text-align: center;
        } 
    }   
    @include tablet {
        flex-basis: 100vw;
        article.home {
            display: flex;
            justify-content: center;
            align-self: center;
        
            div {
                display: flex;
                height: 300px;
            
                img {
                    border-radius: 50%;
                }
            }
        }        
        aside.home {
            display: flex;
            justify-content: center;
        
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 60vw;
                font-size: 1.3em;
            }
        } 
        h3 {
            text-align: center;
            font-size: 2.5em;
        }
        .container {
            display: flex;
            max-width: 991px;
        }
        .card {
            width: 300px;
            height: 450px;
        }
        .card-body {
            height: 300px;
            overflow: auto;
        }
        
        .card-img-top {
            width: 296px;
            height: 200px;
        }
        .card-title {
            text-align: center;
        } 
    }   
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 80px 500px 80px 1fr;
        min-height: 100vh;

        article.home {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1/7;
            grid-row: 2/3;
        
            div {
                display: flex;
                align-content: center;
                height: 60vh;
            
                img {
                    border-radius: 50%;
                }
            }
        }        
        aside.home {
            display: flex;
            grid-column: 7/13;
            grid-row: 2/3;
        
            p {
                display: flex;
                align-items: center;
                margin: 30px;
                font-size: 1.5em;
            }
        }
        h3 {
            text-align: center;
            grid-column: 1/13;
            grid-row: 3/4;
            font-size: 2.5em;
        }
        .container {
            display: flex;
            grid-column: 1/13;
            grid-row: 4/5;
            max-width: none;
        }
        .card {
            min-width: 300px;
            width: 300px;
            height: 450px;
        }
        .card-body {
            height: 300px;
            overflow: auto;
        }
        
        .card-img-top {
            width: 296px;
            height: 200px;
        }
        .card-title {
            text-align: center;
        }    
    }    
}