main.home {   
    aside.home p {
        @extend %aside-home-p;
    }
    article.home div {
        @extend %article-home-div;
    }
    @include mobile {
        article.home {
            display: flex;
            justify-content: center;
            
            div {
                display: flex;
                height: 200px;
            
                img {
                    border-radius: 50%;
                }
            }
        }
        aside.home {
            display: flex;
            justify-content: center;
        
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px 0;
                width: 80vw;
            }
        }    
    }   
    @include tablet {
        article.home {
            display: flex;
            justify-content: center;
            align-self: center;
            grid-column: 1/13;
            grid-row: 2/6;
        
            div {
                display: flex;
                height: 300px;
            
                img {
                    border-radius: 50%;
                }
            }
        }        
        aside.home {
            display: flex;
            justify-content: center;
            grid-column: 1/13;
            grid-row: 6/10;
        
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 60vw;
            }
        }    
    }   
    @include desktop {
        article.home {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1/7;
            grid-row: 2/8;
        
            div {
                display: flex;
                align-content: center;
                height: 60vh;
            
                img {
                    border-radius: 50%;
                }
            }
        }        
        aside.home {
            display: flex;
            grid-column: 7/13;
            grid-row: 2/8;
        
            p {
                display: flex;
                align-items: center;
                margin: 30px;
            }
        }    
    }    
}