nav {
    ul li {
        @extend %nav-ul-li;
    }
    @include mobile {
        display: flex;
        justify-content: center;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            li {
                padding: 5px 15px;
                display: flex;
            }
        }
        .navbar-brand {
            padding-left: 1rem;
        }    
    }
    @include tablet {
        display: flex;
        justify-content: center;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            li {
                padding: 5px;
                display: flex;
            }
        }
        #navbarNav {
            justify-content: flex-end;
            margin-right: 2em;
        }
        .navbar-brand {
            padding-left: 2em;
        }
    }
    @include desktop {
        display: flex;
        width: 100vw;
        
        .navbar-brand {
            display: flex;
            padding-left: 2em;
        }
        ul li {
            padding: 5px;
            display: flex;
        }
        #navbarNav {
            justify-content: flex-end;
            margin-right: 2em;
        }
    }
}
.navbar {
    padding: 0;
}