
.proyectos {
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        iframe {
            display: flex;
            padding: 30px 0;
            width: 93vw;
        }
        p {
            display: flex;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            color: #98C8ED;
            font-family: "Balthazar", serif;
        }    
    }
}
.proyectos {
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-column: 1/13;
        grid-row: 2/10;
        align-items: center;
        justify-content: space-evenly;

        iframe {
        display: flex;
        width: 93vw;
        }
        p {
        display: flex;
        width: 80vw;
        font-size: 20px;
        color: #98C8ED;
        font-family: "Balthazar", serif;
        text-align: center;
        }
    }
}

.proyectos {
    @include desktop {
        display: flex;
        flex-direction: column;
        grid-column: 1/13;
        grid-row: 2/8;
        align-items: center;
        justify-content: space-evenly;
        
        iframe {
            display: flex;
            width: 93vw;
        }
        p {
            display: flex;
            width: 80vw;
            font-size: 20px;
            color: #98C8ED;
            font-family: "Balthazar", serif;
            text-align: center;
        }
    }    
}