@media screen and (max-width: 730px) {
    .proyectos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .proyectos iframe {
        display: flex;
        padding: 30px 0;
        width: 95vw;
}
    .proyectos p {
        display: flex;
        text-align: center;
        padding: 10px;
}
}
@media screen and (min-width: 730px) and (max-width: 991px) {
    .proyectos {
        display: flex;
        flex-direction: column;
        grid-column: 1/13;
        grid-row: 2/10;
        align-items: center;
        justify-content: space-evenly;
    }
    .proyectos iframe {
        display: flex;
        width: 95vw;
}
    .proyectos p {
        display: flex;
        width: 80vw;
        text-align: center;	
}
}
@media screen and (min-width: 992px) {
    .proyectos {
        display: flex;
        flex-direction: column;
        grid-column: 1/13;
        grid-row: 2/8;
        align-items: center;
        justify-content: space-evenly;
    }
    .proyectos iframe {
        display: flex;
        width: 95vw;
}
    .proyectos p {
        display: flex;
        width: 80vw;
        text-align: center;	
}
}