main.servicios{
    background: $background-gradient-fondo;
}
article.servicios {
    @extend %article-servicios;  
    justify-content: center;
    
    div.servicios__img img {
        @extend %article-servicios-img;
    }
    div.servicios__card {
        display: flex;
        text-align: center;
    }
    @include mobile {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.1em;

        div.servicios__img img {
            display: flex;
            width: 243px;
            margin: 20px 0;
        }
        div.servicios__card {
            flex-direction: column;
            width: 243px;
            margin: 0 20px;
            height: 350px;
            justify-content: space-between;

            h2 {
                font-size: 1.6em;
            }
        }
    }
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.3em;

        div.servicios__img img {
            display: flex;
            width: 300px;
            margin: 20px 0;
        }
        div.servicios__card {
            flex-direction: column;
            width: 300px;
            margin: 0 20px;
            height: 400px;
            justify-content: space-between;

            h2 { 
                font-size: 1.5em;
            }
        }
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4em;

        div.servicios__img img {
            display: flex;
            width: 350px;
            margin: 20px 0;
        }
        div.servicios__card {
            flex-direction: column;
            width: 350px;
            margin: 0 20px;
            height: 450px;
            justify-content: space-between;

            h2 {
                font-size: 1.6em;
            }
        }
    }
}