$background-gradient-fondo: radial-gradient(circle at 0 0, #455A6B 0%, #222 90%);
$background-color-fondo: #455A6B;
$background-color-letra: #98C8ED;
$navbar-color-fondo: #50A8EB;
$navbar-color-letra: #fff;
$font-letra:"Balthazar", serif;
$header-color-fondo: #50A8EB;
$h1-letra-color: #eee;
$h1-text-shadow: 0px 0px 4px rgb(173, 216, 230);
$logo-color-letra: #fff;
$logo-text-shadow: 2px 2px 10px #455A6B;
$logo-hover-color: #455A6B;
$logo-hover-text-shadow: 0px 0px 3px #fff, 2px 2px 10px #455A6B, 0px 0px 3px #fff, 0px 0px 3px #fff;
$footer-color-fondo: #3E83B8;
$footer-font-size: 30px;
$footer-text-shadow: 2px 2px 2px #455A6B;
$nav-ul-li-text-shadow: 1px 1px 1px #455A6B;
$form-background: #1e252c;
$home-img-box-shadow: 0px 0px 7px rgb(173, 216, 230);
$card-image-background: radial-gradient(circle at center, rgb(250, 250, 250) 0%, rgb(150, 150, 150) 90%);
$servicios-img-box-shadow: 0px 0px 10px rgb(173, 216, 230); 