@keyframes borderAnimation {
    0% {
        box-shadow: 0px 0px 7px rgb(173, 216, 230);
        background-color: #fff;
    }
    25% {
        box-shadow: 0px 0px 7px #3E83B8;
        background-color: #3E83B8;
    } 
    50% {
        box-shadow: 0px 0px 7px rgb(173, 216, 230);
        background-color: #fff;
    }
    75% {
        box-shadow: 0px 0px 7px #3E83B8;
        background-color: #3E83B8;
    }
    100% {
        box-shadow: 0px 0px 7px rgb(173, 216, 230);
        background-color: #fff;
    }
    }