* {
	margin: 0 ;
	padding: 0 ;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import "media-queries";
@import "extends";
@import "a-tag";
@import "background";
@import "animacion";
@import "contacto";
@import "cv";
@import "footer";
@import "h1";
@import "header";
@import "home";
@import "navbar";
@import "proyectos";
@import "servicios";

$color-fondo: #455A6B;
$color-fondo-letra: #98C8ED;
$color-barra: #50A8EB;
$color-barra-letra: #fff;
