* {
	margin: 0 ;
	padding: 0 ;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import "media-queries";
@import "variables";
@import "extends";
@import "a-tag";
@import "background";
@import "animacion";
@import "footer";
@import "h1";
@import "header";
@import "navbar";
@import "home";
@import "cv";
@import "contacto";
@import "hobbies";
@import "servicios";



